body {
	margin: 0;
	padding: 0;
}

.item {
	padding-top: 10px;
    padding-bottom: 10px;
    background-color: #eee;
    background-color: rgba(86,61,124,.15);
    border: 1px solid #ddd;
    border: 1px solid rgba(86,61,124,.2);
}


.col-md-3, .col-md-4, .col-md-6 {
	float: left;
	box-sizing: border-box;
}

.col-md-3 {
	width: 25%
}

.col-md-4 {
	width: 33.333333334%
}

.col-md-6 {
	width: 50%
}

.row {
	clear: both;
}

@media (min-width: 480px) {
	body {
		background-color: lightgreen;
   }
}


@media screen and (min-width: 600px) {
	.col-md-4 {
		width: 50%;
	}
}