html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}
 li{
	float: left;
}

footer:before {
	content: "тут нам нужно поиграться с флоатами так как на странице 215 ффйла пдф, но не так как там !!))))) потому-что там не так как в файле штмл что нам скинули !)) ха ха ха!)))"
}